:root {
  --fondo-body: #3e3e3e;
  --fondo-pantalla: #1c1c1c;
  --color-botones: #bdeb3c;
  --color-fuente: #fafafa;
  --color-letra-gris: rgb(167, 167, 167);
  --tarjeta-violeta: #7900fe;
}

body {
  font-family: "Outfit", sans-serif;
  color: var(--color-fuente);
  background-color: var(--fondo-body);
}

/*Primera pantalla*/
.container-fluid {
  background-color: var(--fondo-pantalla);
  width: 340px;
  height: 720px;
  margin: 10px;
  border-radius: 20px;
}

.espaciador {
  height: 20vh;
}

.contenedor_tarjetas_torcidas {
  display: flex;
  justify-content: center;
  height: 30vh;
}

.informacion {
  margin-top: 80px;
}

.informacion div h1 {
  position: relative;
  z-index: 0;
}

.ondas {
  position: absolute;
  z-index: 3;
  bottom: 12px;
  left: 65px;
  width: 75px;
  height: 40px;
}

p {
  font-size: smaller;
  color: var(--color-letra-gris);
  margin: 0;
}

.puntos_y_guion {
  margin-bottom: 20px;
}

.punto {
  width: 10px;
  border-radius: 10px;
}

.guion {
  width: 18px;
  height: 25px;
}

.boton_amarillo {
  background-color: var(--color-botones);
  color: var(--fondo-pantalla);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}
/*Fin primera pantalla*/

/*Segunda pantalla*/
.separador {
  height: 40px;
}

.buen_dia {
  display: flex;
  flex-direction: row;
}

.texto {
  font-size: 18px;
  color: var(--color-fuente);
}

.hola {
  width: 20px !important;
  margin-left: 5px;
}

.plata {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.plata h1 {
  color: var(--color-botones);
  font-size: 40px;
}

.plata h1::after {
  content: "90";
  color: var(--color-botones);
  font-size: 20px;
}

.centrar {
  display: flex;
  justify-content: center;
}

.boton_transparente {
  background-color: transparent;
  border: 1px solid var(--color-fuente);
  color: var(--color-fuente);
  font-size: 10px;
  border-radius: 8px;
  padding: 5px;
  width: 80px;
  margin-top: 10px;
}

.tarjetas {
  position: absolute;
  width: 340px;
  left: 8px;
  margin-top: 25px;
  margin-bottom: 3px;
}

.separador_de_tarjetas {
  height: 165px;
}

.subrayado {
  text-decoration: underline;
}

.transacciones {
  margin-top: 5px;
}

.final {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

span {
  font-size: small;
  color: var(--color-letra-gris);
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
  color: var(--color-letra-gris);
  opacity: 50%;
}

.amazon {
  background-color: var(--color-fuente);
  border-radius: 25px;
}

.contenedor_avatar {
  position: relative;
}

.avatar {
  width: 43px;
  position: absolute;
  left: 8px;
  bottom: 5px;
}

.iconos {
  display: flex;
  justify-content: space-around;
}

.iconos div i {
  color: var(--color-fuente);
}

.subrayado_casa {
  border-bottom: 2px solid var(--color-fuente);
  height: 35px;
  width: 33px;
}
/*Fin segunda pantalla*/

/*Tercera pantalla*/
.contenedor_imagen_usuarios {
  margin-top: 20px;
}

.imagen_usuarios {
  width: 100%;
}

.plata_2 {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.plata_2 h1 {
  color: var(--color-fuente);
  font-size: 40px;
}

.plata_2 h1::after {
  content: "00";
  color: var(--color-fuente);
  font-size: 20px;
}

.numero {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.numero h3 {
  padding: 5px;
  font-size: 20px;
}

.borrar {
  color: var(--color-fuente);
}

.next {
  margin-top: 30px;
}

.subrayado_flechas {
  border-bottom: 2px solid var(--color-fuente);
  height: 35px;
  width: 33px;
}
/*Fin tercera pantalla*/
